<div class="container">
    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">{{title}}</div>
            <div class="panel-body">
                <span class="story-body">{{summary}}.</span>&nbsp;<span class = "text-info">Read the fill story <a href="/story/{{slug}}">here</a></span>
                
            </div>
            <div class="panel-footer text-muted">
                <div class="row">
                    <div class="col-lg-6"><h5>-{{author}}</h5></div>
                    <div class="col-lg-6"><h5 class="pull-right">{{date}}</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>